<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Dịch vụ chất lượng cao</p>
                    <h1>Thông tin nhân viên</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="staff mt-5">
    <div class="row">
        <div class="col-8">
            <h2 class="setting-title">Chi tiết nhân viên</h2>
            <div class="container mt-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <img style="border-radius: 99999px;"
                            src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                            alt="">
                    </div>
                </div>
                <div class="staff-info mt-4">
                    <div class="row">
                        <div class="col-6 info-item">
                            <p>Mã nhân viên:</p>
                        </div>
                        <div class="col-6">
                            <p>FJSDJIQSWJFDJNJHSDG</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 info-item">
                            <p>Tên nhân viên:</p>
                        </div>
                        <div class="col-6">
                            <p>Ngô Thị Hằng</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 info-item">
                            <p>Tuổi:</p>
                        </div>
                        <div class="col-6">
                            <p>40</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 info-item">
                            <p>Giới tính:</p>
                        </div>
                        <div class="col-6">
                            <p>Nữ</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 info-item">
                            <p>Tổng điểm:</p>
                        </div>
                        <div class="col-6">
                            <span class="badge badge-success">10đ</span>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <p class="mt-5"><strong>Đánh giá của khách hàng</strong><span>(1 đánh giá)</span></p>
                    <div class="row align-items-center mt-3">
                        <div class="col-1 text-center">
                            <img src="https://jupviec.vn/booking/_nuxt/img/user_avatar.e88321a.png" width="">
                        </div>
                        <div class="col-11">
                            <p>Giang Đức Huy</p>
                            <p>Đánh giá: <span class="badge badge-warning">10đ</span></p>
                            <p style="color: #aaa;">Thái độ tốt. Chất lượng công việc tốt. Làm việc đúng giờ. Công cụ
                                dụng
                                cụ đầy đủ. Mặc đồng
                                phục.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 bxh">
            <h2 class="title setting-title">
                <span class="title-word title-word-1">Nhân </span>
                <span class="title-word title-word-2"> viên</span>
                <span class="title-word title-word-3"> nổi</span>
                <span class="title-word title-word-4"> bật</span>
            </h2>
            <div class="container mt-3">
                <div class="bxh-item mt-3">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col-3 bxh-img">
                                <img src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                                    alt="">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-5">
                                        <p>Mã nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>FJSDJIQSWJFDJNJHSDG</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tên nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>Ngô Thị Hằng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tuổi:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>40</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tổng điểm:</p>
                                    </div>
                                    <div class="col-7">
                                        <span class="badge badge-warning">10đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bxh-item mt-3">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col-3 bxh-img">
                                <img src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                                    alt="">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-5">
                                        <p>Mã nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>FJSDJIQSWJFDJNJHSDG</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tên nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>Ngô Thị Hằng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tuổi:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>40</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tổng điểm:</p>
                                    </div>
                                    <div class="col-7">
                                        <span class="badge badge-warning">10đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bxh-item mt-3">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col-3 bxh-img">
                                <img src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                                    alt="">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-5">
                                        <p>Mã nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>FJSDJIQSWJFDJNJHSDG</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tên nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>Ngô Thị Hằng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tuổi:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>40</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tổng điểm:</p>
                                    </div>
                                    <div class="col-7">
                                        <span class="badge badge-warning">10đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bxh-item mt-3">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col-3 bxh-img">
                                <img src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                                    alt="">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-5">
                                        <p>Mã nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>FJSDJIQSWJFDJNJHSDG</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tên nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>Ngô Thị Hằng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tuổi:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>40</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tổng điểm:</p>
                                    </div>
                                    <div class="col-7">
                                        <span class="badge badge-warning">10đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="bxh-item mt-3">
                    <a href="">
                        <div class="row align-items-center">
                            <div class="col-3 bxh-img">
                                <img src="https://maid-qa.jupviec.vn/phpThumb/phpThumb.php?src=http://static.jupviec.vn/uploaded/avatar/2022/08/23/902312_1661249548881_ngothihang.jpg&w=150&h=150&zc=1"
                                    alt="">
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <div class="col-5">
                                        <p>Mã nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>FJSDJIQSWJFDJNJHSDG</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tên nhân viên:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>Ngô Thị Hằng</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tuổi:</p>
                                    </div>
                                    <div class="col-7">
                                        <p>40</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-5">
                                        <p>Tổng điểm:</p>
                                    </div>
                                    <div class="col-7">
                                        <span class="badge badge-warning">10đ</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>