<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-sm-12 text-center">
            <div class="main-menu-wrap">
                <!-- logo -->
                <div class="site-logo">
                    <a routerLink="/">
                        <img src="assets/img/logo.png" alt="Logo">
                    </a>
                </div>
                <nav class="main-menu">
                    <ul>
                        <li><a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
                                [routerLinkActiveOptions]="{exact: true}">Trang chủ</a>
                        </li>
                        <li>
                            <a class="" routerLink="/shop" routerLinkActive="active" ariaCurrentWhenActive="page">Tin
                                tức</a>
                        </li>
                        <li><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Hỗ trợ</a>
                        </li>
                        <li><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">Cam kết của
                                Maid</a></li>
                    </ul>
                </nav>

                <div class="header-icons">
                    <a class="shopping-cart" routerLink="cart">
                        <i class="fas fa-shopping-cart cart-icon">
                            <span class="cart-quantity">{{cartQuantity}}</span>
                        </i></a>
                    <a class="mobile-hide search-bar-icon"><i class="fas fa-search"></i></a>
                    <div class="user d-inline-block">
                        <a class="mobile-hide user-dropdown" routerLink="/authentication"><i
                                class="fas fa-user"></i></a>
                        <ul *ngIf="menuType === 'default' && userData" class="user-menu">
                            <p class="menu-title text-center">Thông tin tài khoản</p>
                            <p class="menu-item">Tên TK: <span class="ml-2">{{userData.fullname |
                                    titlecase}}</span></p>
                            <p class="menu-item">Vai trò: <span
                                    class="badge badge-primary ml-2">{{userData.role}}</span></p>
                            <div class="menu-btns mt-3">
                                <a *ngIf="userData.role === 'Quản trị viên'" routerLink="/manager"
                                    class="btn btn-primary btn-block admin-btn">Trang quản
                                    trị</a>
                                <a routerLink="/settings" class="btn btn-primary btn-lg btn-block">Cài đặt tài
                                    khoản</a>
                                <a class="btn btn-success btn-lg btn-block" (click)="logout()">Lịch sử giao
                                    dịch</a>
                                <button class="btn btn-secondary btn-lg btn-block" (click)="logout()">Đăng
                                    xuất</button>
                            </div>
                        </ul>
                    </div>

                    <a class="mobile-show search-bar-icon" routerLink="#"><i class="fas fa-search"></i></a>
                    <div class="mobile-menu"></div>
                </div>
                <!-- menu end -->
            </div>
        </div>
    </div>
</div>