<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Chúng tôi luôn sẵn sàng hỗ trợ bạn</p>
                    <h1>Về chúng tôi</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="feature-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Tại sao là <span class="orange-text">Maid</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-shipping-fast"></i>
                                </div>
                                <div class="content">
                                    <h3>Nhận việc nhanh chóng</h3>
                                    <p>Công việc của bạn sẽ được giải quyết nhanh chóng</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-money-bill-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Giá cả tốt</h3>
                                    <p>Giá cả ổn định trên thị trường. Phù hợp với mọi đối tượng khách hàng</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-briefcase"></i>
                                </div>
                                <div class="content">
                                    <h3>Chất lượng</h3>
                                    <p>Đảm bảo chất lượng dịch vụ cho khách hàng. Tất cả các nhân viên đều
                                        phải có kinh nghiệm và trải qua chương trình đào tạo, kiểm tra, thử việc nghiêm
                                        ngặt.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <i class="fas fa-sync-alt"></i>
                                </div>
                                <div class="content">
                                    <h3>Cải tiến</h3>
                                    <p>Chúng tôi luôn lắng nghe để không ngừng cải tiến công nghệ, đổi mới chính sách,
                                        vì trải nghiệm trọn vẹn của người dùng là đích đến của chúng tôi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row align-items-center" style="border-bottom: 1px solid #ccc;">
        <div class="col-9">
            <h3>Tầm nhìn</h3>
            <p>Không chỉ muốn giúp bạn chăm sóc gia đình từ những dịch vụ dọn dẹp nhà, vệ sinh máy lạnh, nấu ăn gia
                đình, giặt ủi,... Maid đang nỗ lực trở thành công ty hàng đầu Việt Nam và vươn ra thị trường Đông Nam
                Á, cung cấp nhiều hơn những dịch vụ tiện ích gia đình tích hợp trên ứng dụng di động.</p>
        </div>
        <div class="col-3">
            <img src="assets/img/tamnhin_img.png" alt="">
        </div>
    </div>
    <div class="row align-items-center" style="border-bottom: 1px solid #ccc;">
        <div class="col-9">
            <h3>Sứ mệnh</h3>
            <p>
                Maid ra đời với sứ mệnh đáp ứng nhu cầu giải quyết việc nhà của người dân đô thị và nâng cao giá trị
                nghề giúp việc nhà bằng cách xây dựng nguồn nhân lực giúp việc bài bản, chuyên nghiệp và tận tâm. Cuộc
                sống thảnh thơi khi nhẹ đi gánh nặng việc nhà của khách hàng và nguồn thu nhập ổn định của người lao
                động chính là những gì mà chúng tôi luôn hướng đến.
            </p>
        </div>
        <div class="col-3">
            <img src="assets/img/sumenh_img.png" alt="">
        </div>
    </div>
</div>

<div class="mt-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3>Đội ngũ <span class="orange-text">chúng tôi</span></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, fuga quas itaque eveniet
                        beatae optio.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-1"></div>
                    <h4>Cẩm Tú <span>Sinh viên</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-team-item">
                    <div class="team-bg team-bg-2"></div>
                    <h4>Đức Huy <span>Sinh viên</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
                <div class="single-team-item">
                    <div class="team-bg team-bg-3"></div>
                    <h4>Duy Khánh <span>Sinh viên</span></h4>
                    <ul class="social-link-team">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>