<div class="order-details">
    <h2 class="setting-title">Thông tin đơn hàng #LDJKDJSJIIDIH</h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-3">
                <p>Trạng thái:</p>
            </div>
            <div class="col-9">
                <a href="#" class="badge badge-success">Đã xác nhận</a>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Ngày đặt hàng:</p>
            </div>
            <div class="col-9">
                <p>07-02-2003</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Ngày làm việc:</p>
            </div>
            <div class="col-9">
                <p>20-02-2003</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Dịch vụ:</p>
            </div>
            <div class="col-9">
                <p>Tổng vệ sinh</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Số giờ dùng dịch vụ:</p>
            </div>
            <div class="col-9">
                <p>4 tiếng</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Thời gian bắt đầu:</p>
            </div>
            <div class="col-9">
                <p>20:08:20</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Thời gian kết thúc:</p>
            </div>
            <div class="col-9">
                <p>24:08:20</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Địa chỉ làm việc:</p>
            </div>
            <div class="col-9">
                <p>506/19/20, Đ.Sư Vạn Hạnh, Q10, TPHCM</p>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <p>Ghi chú:</p>
            </div>
            <div class="col-9">
                <p></p>
            </div>
        </div>
        <p class="mt-3"><strong>Các dịch vụ kèm theo:</strong></p>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Ảnh</th>
                    <th scope="col">Tên dịch vụ</th>
                    <th scope="col">Giá</th>
                    <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><img src="assets/img/product_icon/uido_icon.png" alt=""></td>
                    <td>Ủi đồ</td>
                    <td>20000</td>
                    <td>80000</td>
                </tr>
            </tbody>
        </table>
        <p class="mt-4 mb-2"><strong>Chi tiết thanh toán:</strong></p>
        <div class="row justify-content-between">
            <div class="col-3">
                <p>Tổng giá dịch vụ chính:</p>
            </div>
            <div class="col-9">
                <p style="float: right;">80.000đ</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                <p>Tổng giá dịch vụ kèm theo:</p>
            </div>
            <div class="col-9">
                <p style="float: right;">80.000đ</p>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-3">
                <p><strong>Thành tiền:</strong></p>
            </div>
            <div class="col-9">
                <p style="float: right;"><strong>160.000đ</strong></p>
            </div>
        </div>
    </div>
</div>