<div class="banner" style="margin-top: 70px;">
    <img src="assets/img/banner.jpg" alt="Ảnh banner">
</div>

<div class="list-section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <img src="assets/img/company-logos/vnexpress.png" alt="vnexpress">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <img src="assets/img/company-logos/ictnews.png" alt="ictnews">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <img src="assets/img/company-logos/cafebiz.png" alt="cafebiz">
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <img src="assets/img/company-logos/phapluatvn.png" alt="phapluatvn">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-80 mb-80">
    <div class="row">
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center p-5">
            <img src="assets/img/support.png" alt="Hỗ trợ">
            <h4 class="mt-3">Chuyên viên - Tận tâm</h4>
            <p>
                Đội ngũ Tư vấn viên & Chăm sóc Khách hàng kinh nghiệm, chuyên nghiệp, tận tâm. JupViec cam kết bảo hành
                dịch vụ khi Khách hàng chưa hài lòng.
            </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center p-5">
            <img src="assets/img/remote.png" alt="Hỗ trợ">
            <h4 class="mt-3">Ứng dụng JupViec tiện lợi</h4>
            <p>
                Tìm Người giúp việc nhà nhanh chóng qua vài thao tác.
                Ứng dụng cung cấp đầy đủ thông tin về dịch vụ và Người giúp việc, tiện lợi trong việc chủ động lựa chọn
                và đánh giá
            </p>
        </div>
        <div class="col-lg-4 col-md-6 mb-4 mb-lg-0 text-center p-5">
            <img src="assets/img/userperfect.png" alt="Hỗ trợ">
            <h4 class="mt-3">Người giúp việc nhà tiêu chuẩn</h4>
            <p>
                Người giúp việc nhà tiêu chuẩn, đáng tin cậy, có đầy đủ hồ sơ. Công ty JupViec chịu trách nhiệm tuyển
                chọn, đào tạo và quản lý.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-12 mt-5">
            <a href="#products" class="btn btn-primary btn-main">Đặt dịch vụ ngay</a>
        </div>
    </div>
</div>

<div class="product-section mt-150">
    <app-product></app-product>
</div>